.search-box{
    position: relative;
}
.search{
    padding-left: 27px;
    width: 376px;
    height: 54px;
    /* background: #F0F5FB; */
    background-color: #1C3663;
    border-radius: 16px;
}

.dropdown-container{
    height: 390px;
    width: 370px;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #142A51;
    color: #DAE2EF;
}

.option-content{
    display: flex;
}
.profile{
    height: 21px;
    width: 21px;
    /* border: 1px solid white; */
    border-radius: 1rem;
}
.profile-con{
    display: flex;
    gap: 1.3rem;
}
.name-field{
    width: 18rem;
    
}
.box-content{
    border-bottom: 1px solid #DAE2EF;
}
.box-content-2{
    padding: 5px;
    margin-top: 14px;
}
.all-emp{
    border: 1px solid white;
    border-radius: 2rem;
    padding-left: 6px;
    
}
.main-drop-container{
    position: relative;
}
.input-dropdown{
    background-color: #F0F5FB;
    width: 23rem;
    height: 3rem;
    padding: 1rem;
    cursor: pointer;
}
.headding{
    color: black;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.cursor{
    cursor: pointer;
}